<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link"  routerLink = 'zaposlenici' routerLinkActive='active'>Svi zaposlenici</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink = '/nacionalniParkovi' routerLinkActive='active'>Nacionalni parkovi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  routerLink='/parkoviPrirode' routerLinkActive='active'>Parkovi prirode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink='/dodajZaposlenika' routerLinkActive='active'>Dodaj zaposlenika</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>